@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="month"],
input[type="time"] {
  color: #1f2937;
  background-color: inherit;
}

html.dark input[type="month"],
html.dark input[type="time"] {
    color: #ffffff;
}

input[type="month"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
}
