@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="month"],
input[type="time"] {
  color: inherit;
  background-color: inherit;
}

input[type="month"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
}
